import all important libraries

In [48]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt

read the test and train data file

In [49]:
test1=pd.read_csv('test_lTY72QC.csv')
train1=pd.read_csv('train_PDjVQMB.csv')
train1.head()

,ID,Age,Gender,Income,Balance,Vintage,Transaction_Status,Product_Holdings,Credit_Card,Credit_Category,Is_Churn
0,84e2fcc9,36,Female,5L - 10L,563266.44,4,0,1,0,Average,1
1,57fea15e,53,Female,Less than 5L,875572.11,2,1,1,1,Poor,0
2,8df34ef3,35,Female,More than 15L,701607.06,2,1,2,0,Poor,0
3,c5c0788b,43,Female,More than 15L,1393922.16,0,1,2,1,Poor,1
4,951d69c4,39,Female,More than 15L,893146.23,1,1,1,1,Good,1

check the data type of all variable

In [50]:
train1.dtypes

ID                     object
Age                     int64
Gender                 object
Income                 object
Balance               float64
Vintage                 int64
Transaction_Status      int64
Product_Holdings       object
Credit_Card             int64
Credit_Category        object
Is_Churn                int64
dtype: object

make the list of all object variable

In [51]:
object_cols=['Gender','Income','Product_Holdings','Credit_Category']

preprocess the categorical variable into numeric value

In [52]:
from sklearn.preprocessing import OrdinalEncoder
ordinal_encoder = OrdinalEncoder()
train1[object_cols] = ordinal_encoder.fit_transform(train1[object_cols]).astype(int)
train1.head()

,ID,Age,Gender,Income,Balance,Vintage,Transaction_Status,Product_Holdings,Credit_Card,Credit_Category,Is_Churn
0,84e2fcc9,36,0,1,563266.44,4,0,0,0,0,1
1,57fea15e,53,0,2,875572.11,2,1,0,1,2,0
2,8df34ef3,35,0,3,701607.06,2,1,1,0,2,0
3,c5c0788b,43,0,3,1393922.16,0,1,1,1,2,1
4,951d69c4,39,0,3,893146.23,1,1,0,1,1,1

normalize the balance and age variable

In [53]:
cols_to_scale = ['Balance','Age']

from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
train1[cols_to_scale] = scaler.fit_transform(train1[cols_to_scale])

print the train variable after preprocessing

In [54]:
train1.head()

,ID,Age,Gender,Income,Balance,Vintage,Transaction_Status,Product_Holdings,Credit_Card,Credit_Category,Is_Churn
0,84e2fcc9,0.294118,0,1,0.231148,4,0,0,0,0,1
1,57fea15e,0.627451,0,2,0.359323,2,1,0,1,2,0
2,8df34ef3,0.274510,0,3,0.287925,2,1,1,0,2,0
3,c5c0788b,0.431373,0,3,0.572062,0,1,1,1,2,1
4,951d69c4,0.352941,0,3,0.366536,1,1,0,1,1,1

segergate the variables into x and y

In [55]:

x=train1.drop(['Is_Churn','ID'],axis=1)
y=train1['Is_Churn']

apply same preprocessing on test data

In [56]:
object_cols1=['Gender','Income','Product_Holdings','Credit_Category']

...repeat...

In [57]:
from sklearn.preprocessing import OrdinalEncoder
ordinal_encoder = OrdinalEncoder()
test1[object_cols1] = ordinal_encoder.fit_transform(test1[object_cols1]).astype(int)
test1.head()

,ID,Age,Gender,Income,Balance,Vintage,Transaction_Status,Product_Holdings,Credit_Card,Credit_Category
0,55480787,50,0,3,1008636.39,2,1,1,1,0
1,9aededf2,36,1,1,341460.72,2,0,1,1,0
2,a5034a09,25,0,0,439460.10,0,0,1,1,1
3,b3256702,41,1,2,28581.93,0,1,1,1,2
4,dc28adb5,48,1,3,1104540.03,2,1,2,0,1

In [58]:
cols_to_scale = ['Balance','Age']

from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
test1[cols_to_scale] = scaler.fit_transform(test1[cols_to_scale])

drop the id variable to test

In [59]:
x1= test1.drop('ID',axis=1)

check the data types of variables

In [60]:
x1.dtypes

Age                   float64
Gender                  int64
Income                  int64
Balance               float64
Vintage                 int64
Transaction_Status      int64
Product_Holdings        int64
Credit_Card             int64
Credit_Category         int64
dtype: object

find the length of input variable of train data

In [61]:
len(x.columns)

9

make the sequencial model using tensorflow and keras deep learning library 
two layer is used here one is input layer activation function relu used and another is output layer using sigmoid function

In [62]:
import tensorflow as tf
from tensorflow import keras


model = keras.Sequential([
    keras.layers.Dense(5, input_shape=(9,), activation='relu'),
    keras.layers.Dense(1, activation='sigmoid')
])

# opt = keras.optimizers.Adam(learning_rate=0.01)

model.compile(optimizer='adam',
              loss='binary_crossentropy',
              metrics=['accuracy'])

model.fit(x,y,epochs=50)

Epoch 1/50
208/208 [==============================] - 1s 2ms/step - loss: 0.7617 - accuracy: 0.5469
Epoch 2/50
208/208 [==============================] - 0s 2ms/step - loss: 0.5596 - accuracy: 0.7680
Epoch 3/50
208/208 [==============================] - 0s 2ms/step - loss: 0.5516 - accuracy: 0.7686
Epoch 4/50
208/208 [==============================] - 0s 2ms/step - loss: 0.5453 - accuracy: 0.7689
Epoch 5/50
208/208 [==============================] - 0s 2ms/step - loss: 0.5406 - accuracy: 0.7689
Epoch 6/50
208/208 [==============================] - 0s 2ms/step - loss: 0.5370 - accuracy: 0.7689
Epoch 7/50
208/208 [==============================] - 0s 2ms/step - loss: 0.5338 - accuracy: 0.7689
Epoch 8/50
208/208 [==============================] - 0s 2ms/step - loss: 0.5318 - accuracy: 0.7689
Epoch 9/50
208/208 [==============================] - 0s 2ms/step - loss: 0.5297 - accuracy: 0.7689
Epoch 10/50
208/208 [==============================] - 0s 2ms/step - loss: 0.5283 - accuracy: 0.7689
Epoch 11/50
208/208 [==============================] - 0s 2ms/step - loss: 0.5265 - accuracy: 0.7689
Epoch 12/50
208/208 [==============================] - 0s 2ms/step - loss: 0.5253 - accuracy: 0.7689
Epoch 13/50
208/208 [==============================] - 0s 2ms/step - loss: 0.5240 - accuracy: 0.7689
Epoch 14/50
208/208 [==============================] - 0s 2ms/step - loss: 0.5227 - accuracy: 0.7689
Epoch 15/50
208/208 [==============================] - 0s 2ms/step - loss: 0.5221 - accuracy: 0.7693
Epoch 16/50
208/208 [==============================] - 0s 2ms/step - loss: 0.5208 - accuracy: 0.7693
Epoch 17/50
208/208 [==============================] - 0s 2ms/step - loss: 0.5197 - accuracy: 0.7693
Epoch 18/50
208/208 [==============================] - 0s 2ms/step - loss: 0.5190 - accuracy: 0.7695
Epoch 19/50
208/208 [==============================] - 0s 2ms/step - loss: 0.5184 - accuracy: 0.7696
Epoch 20/50
208/208 [==============================] - 0s 2ms/step - loss: 0.5176 - accuracy: 0.7701
Epoch 21/50
208/208 [==============================] - 0s 2ms/step - loss: 0.5167 - accuracy: 0.7696
Epoch 22/50
208/208 [==============================] - 0s 2ms/step - loss: 0.5170 - accuracy: 0.7704
Epoch 23/50
208/208 [==============================] - 0s 2ms/step - loss: 0.5162 - accuracy: 0.7714
Epoch 24/50
208/208 [==============================] - 0s 2ms/step - loss: 0.5160 - accuracy: 0.7699
Epoch 25/50
208/208 [==============================] - 0s 2ms/step - loss: 0.5152 - accuracy: 0.7708
Epoch 26/50
208/208 [==============================] - 0s 2ms/step - loss: 0.5151 - accuracy: 0.7699
Epoch 27/50
208/208 [==============================] - 0s 2ms/step - loss: 0.5144 - accuracy: 0.7705
Epoch 28/50
208/208 [==============================] - 0s 2ms/step - loss: 0.5147 - accuracy: 0.7695
Epoch 29/50
208/208 [==============================] - 0s 2ms/step - loss: 0.5145 - accuracy: 0.7701
Epoch 30/50
208/208 [==============================] - 0s 2ms/step - loss: 0.5138 - accuracy: 0.7707
Epoch 31/50
208/208 [==============================] - 0s 2ms/step - loss: 0.5134 - accuracy: 0.7716
Epoch 32/50
208/208 [==============================] - 0s 2ms/step - loss: 0.5138 - accuracy: 0.7713
Epoch 33/50
208/208 [==============================] - 0s 2ms/step - loss: 0.5140 - accuracy: 0.7702
Epoch 34/50
208/208 [==============================] - 0s 2ms/step - loss: 0.5134 - accuracy: 0.7711
Epoch 35/50
208/208 [==============================] - 0s 2ms/step - loss: 0.5134 - accuracy: 0.7701
Epoch 36/50
208/208 [==============================] - 0s 2ms/step - loss: 0.5133 - accuracy: 0.7702
Epoch 37/50
208/208 [==============================] - 0s 2ms/step - loss: 0.5136 - accuracy: 0.7695
Epoch 38/50
208/208 [==============================] - 0s 2ms/step - loss: 0.5131 - accuracy: 0.7707
Epoch 39/50
208/208 [==============================] - 0s 2ms/step - loss: 0.5131 - accuracy: 0.7696
Epoch 40/50
208/208 [==============================] - 0s 2ms/step - loss: 0.5129 - accuracy: 0.7711
Epoch 41/50
208/208 [==============================] - 0s 2ms/step - loss: 0.5130 - accuracy: 0.7716
Epoch 42/50
208/208 [==============================] - 0s 2ms/step - loss: 0.5132 - accuracy: 0.7704
Epoch 43/50
208/208 [==============================] - 0s 2ms/step - loss: 0.5128 - accuracy: 0.7705
Epoch 44/50
208/208 [==============================] - 0s 2ms/step - loss: 0.5129 - accuracy: 0.7708
Epoch 45/50
208/208 [==============================] - 0s 2ms/step - loss: 0.5127 - accuracy: 0.7716
Epoch 46/50
208/208 [==============================] - 0s 2ms/step - loss: 0.5129 - accuracy: 0.7699
Epoch 47/50
208/208 [==============================] - 0s 2ms/step - loss: 0.5130 - accuracy: 0.7708
Epoch 48/50
208/208 [==============================] - 0s 2ms/step - loss: 0.5126 - accuracy: 0.7711
Epoch 49/50
208/208 [==============================] - 0s 2ms/step - loss: 0.5126 - accuracy: 0.7716
Epoch 50/50
208/208 [==============================] - 0s 2ms/step - loss: 0.5130 - accuracy: 0.7716

predict the output of test varable

In [63]:
pred= model.predict(x1)
pred

array([[0.28233138],
       [0.17005146],
       [0.12766823],
       ...,
       [0.48933458],
       [0.28381824],
       [0.39656204]], dtype=float32)

change the value of segmoid into 0 and 1 form

In [64]:
y_pred = []
for element in pred:
    if element > 0.3:
        y_pred.append(1)
    else:
        y_pred.append(0)

read the sample solution file

In [65]:
su = pd.read_csv('sample_OoSmYo5.csv')
su.head()

         ID  Is_Churn
0  55480787         1
1  9aededf2         1
2  a5034a09         1
3  b3256702         1
4  dc28adb5         1

make the id and is_churn column in dataframe 
save the csv file of solution

In [66]:
    su['Is_Churn'] = y_pred 
    su['ID'] = test1['ID']
    pd.DataFrame(su, columns=['ID','Is_Churn']).to_csv('solution.csv', index=False)